NODE red ejm
[
    {
        "id": "9e4bcf17e3c1393f",
        "type": "tab",
        "label": "Flow 1hj",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "429b7a9506281eae",
        "type": "debug",
        "z": "9e4bcf17e3c1393f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 60,
        "wires": []
    },
    {
        "id": "35847929036ca89e",
        "type": "mqtt in",
        "z": "9e4bcf17e3c1393f",
        "name": "",
        "topic": "sensores/temperatura",
        "qos": "2",
        "datatype": "utf8",
        "broker": "7769215a02bddbe7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 60,
        "wires": [
            [
                "429b7a9506281eae",
                "e54670bef8fd1676"
            ]
        ]
    },
    {
        "id": "eea6e0d18b62e1f2",
        "type": "debug",
        "z": "9e4bcf17e3c1393f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 140,
        "wires": []
    },
    {
        "id": "1c723a5b56cc46ea",
        "type": "mqtt in",
        "z": "9e4bcf17e3c1393f",
        "name": "",
        "topic": "sensores/distancia",
        "qos": "2",
        "datatype": "utf8",
        "broker": "7769215a02bddbe7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "eea6e0d18b62e1f2",
                "c57e2c09cee9851d"
            ]
        ]
    },
    {
        "id": "e54670bef8fd1676",
        "type": "ui_gauge",
        "z": "9e4bcf17e3c1393f",
        "name": "",
        "group": "f6a0dc48dce3a2f0",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "-10",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 100,
        "wires": []
    },
    {
        "id": "c57e2c09cee9851d",
        "type": "ui_gauge",
        "z": "9e4bcf17e3c1393f",
        "name": "",
        "group": "f6a0dc48dce3a2f0",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Distancia",
        "label": "Cm",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 580,
        "y": 180,
        "wires": []
    },
    {
        "id": "6eac56465d2d15fd",
        "type": "ui_spacer",
        "z": "9e4bcf17e3c1393f",
        "name": "spacer",
        "group": "4e1563fa55bf12ba",
        "order": 1,
        "width": 3,
        "height": 1
    },
    {
        "id": "ef9ae0873abe5d5c",
        "type": "ui_spacer",
        "z": "9e4bcf17e3c1393f",
        "name": "spacer",
        "group": "4e1563fa55bf12ba",
        "order": 3,
        "width": 3,
        "height": 1
    },
    {
        "id": "b763375c87f7569f",
        "type": "ui_spacer",
        "z": "9e4bcf17e3c1393f",
        "name": "spacer",
        "group": "4e1563fa55bf12ba",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "a5b527bcccb3416e",
        "type": "ui_spacer",
        "z": "9e4bcf17e3c1393f",
        "name": "spacer",
        "group": "4e1563fa55bf12ba",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "abdec83f53813af4",
        "type": "ui_spacer",
        "z": "9e4bcf17e3c1393f",
        "name": "spacer",
        "group": "4e1563fa55bf12ba",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "a2526a2392cfd40e",
        "type": "ui_spacer",
        "z": "9e4bcf17e3c1393f",
        "name": "spacer",
        "group": "4e1563fa55bf12ba",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "104296e684ee4b94",
        "type": "ui_spacer",
        "z": "9e4bcf17e3c1393f",
        "name": "spacer",
        "group": "a47df3dc8706521f",
        "order": 1,
        "width": 4,
        "height": 1
    },
    {
        "id": "19b5c2fa374f27ed",
        "type": "ui_spacer",
        "z": "9e4bcf17e3c1393f",
        "name": "spacer",
        "group": "a47df3dc8706521f",
        "order": 4,
        "width": 4,
        "height": 1
    },
    {
        "id": "829f4a92cbd5b3cf",
        "type": "ui_spacer",
        "z": "9e4bcf17e3c1393f",
        "name": "spacer",
        "group": "a47df3dc8706521f",
        "order": 7,
        "width": 4,
        "height": 1
    },
    {
        "id": "0abc0a461f7d4e20",
        "type": "ui_spacer",
        "z": "9e4bcf17e3c1393f",
        "name": "spacer",
        "group": "a47df3dc8706521f",
        "order": 10,
        "width": 4,
        "height": 1
    },
    {
        "id": "7769215a02bddbe7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.100.42",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f6a0dc48dce3a2f0",
        "type": "ui_group",
        "name": "sensores",
        "tab": "1b0d6183fc02dd8a",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4e1563fa55bf12ba",
        "type": "ui_group",
        "name": "Carro",
        "tab": "ce66fe71bfe332bc",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a47df3dc8706521f",
        "type": "ui_group",
        "name": "Brazo",
        "tab": "ce66fe71bfe332bc",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1b0d6183fc02dd8a",
        "type": "ui_tab",
        "name": "Home2",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ce66fe71bfe332bc",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
